.boxed {
    width: 75vw;
    margin-top: 10px;
    table-layout: fixed;
}

.tableHeaderItem {
    width: 50vw;
}

.mr-10 {
    margin-right: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.align-right {
    text-align: right;
    align-self: flex-end;
}

.vw-25 {
    width: 25vw;
}

.w-33 {
    width: 33.3333%;
}

table, thead, tbody {
    border: 1px solid black;
    border-collapse: collapse;
    justify-items: flex-start;
}

td {
    vertical-align: top;
}
