.card {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 0px 0px;
    margin: 0px;
    width: 100%;
    text-wrap: nowrap;
    text-overflow: clip;
    justify-self: center;
    align-self: center;
}

.stacked {
    display: flex;
    flex-direction: column;
}

.m-5 {
    margin: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}